{{ define "title" }}
{{ .Title }} — GraphQL
{{ end }}

{{ define "main" }}
{{ $currentSection := .CurrentSection.Title }}
{{ $itemType       := $currentSection | urlize }}
{{ $isRoot         := eq $currentSection .FirstSection.Title }}
{{ $allNews        := where site.RegularPages "Section" "news" }}
{{ $items          := cond $isRoot $allNews (where site.RegularPages ".Params.type" $itemType) }}

{{ partial "hero.html" . }}

<section class="section has-gutter">
  <div class="container">
    <div class="columns is-multiline is-variable is-4">
      {{ range $items }}
      {{ $date     := .Date | dateFormat "January 2, 2006" }}
      {{ $itemType := .Params.type }}
      {{ $display  := (dict "announcements" "Announcements" "in-the-news" "In the News" "graphql-newsletter" "GraphQL Newsletter") }}
      {{ $type     := index $display $itemType }}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="has-bottom-margin has-text-weight-medium">
              {{ $date }} | {{ $type }}
            </p>

            <p class="title is-size-4 is-size-5-mobile">
              {{ .Title }}
            </p>

            <p>
              {{ .Summary | first 250 }}...
            </p>

            <a class="button is-small is-primary is-outlined has-top-margin" href="{{ .RelPermalink }}">
              Read more
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
