{{ $year    := now.Year }}
{{ $logo    := site.Params.logos.footer }}
{{ $logoUrl := printf "img/logos/%s" $logo | relURL }}
{{ $copyright := site.Params.copyright | markdownify }}
<footer class="footer has-text-weight-light">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-fifth">
        <img src="{{ $logoUrl }}" class="footer-logo">
      </div>

      <div class="column">
        <p class="is-size-5 is-size-6-mobile footer-copyright">
          &copy; {{ $year }} The GraphQL Foundation. {{ $copyright }}
        </p>
      </div>
    </div>
  </div>
</footer>
