{{ $home       := site.BaseURL }}
{{ $logo       := site.Params.logos.navbar }}
{{ $logoUrl    := printf "img/logos/%s" $logo | relURL }}
{{ $nav        := site.Menus.nav }}
{{ $currentUrl := .RelPermalink }}
<nav class="navbar is-black is-fixed-top" x-data="{ open: false }">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logoUrl }}" alt="GraphQL Foundation navbar logo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" :class="{ 'is-active': open }" @click="open = !open" @click.away="open = false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu" :class="{ 'is-active': open }">
      <div class="navbar-end">
        {{ range $nav }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-5 has-text-weight-light is-arrowless"{{ with .URL }} href="{{ . }}"{{ end }}>
            {{ .Name }}
          </a>

          {{ if .HasChildren }}
          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            <a class="navbar-item" href="{{ .URL }}">
              {{ .Name }}
            </a>
            {{ end }}
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
