<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content content">
        <h3 class="has-text-weight-light">
          GraphQL Foundation Membership
        </h>

        <h4>
          General Member
        </h4>

        <p>
          See Fee Scale *
        </p>

        <h4>
          Associate Member
        </h4>

        <strong>
          $0 **
        </strong>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-content content">
        <h2 class="has-text-weight-light">
          GraphQL Specification Membership
        </h2>

        <h4>Member</h4>

        <p>
          Free; there are no fees to participate in GraphQL Specification development.
        </p>
      </div>
    </div>
  </div>
</div>


<strong>*</strong> In order to join the GraphQL Foundation, members must also become a member of the Linux Foundation.
<strong>**</strong> Associate Members must be pre-approved non-profits, open source projects, and government entities.